body {
  background-color: #FFF;
}

h1  {
  color: #000;
}

div#test01 {
  color: #00a;
}

.important {
  color: #a00;
}

table {
  border-collapse: collapse;
  background-color: antiquewhite;
  border: 2px black solid;
}

td, th {
  border-bottom: 2px black solid;
  padding-right: 10px;
}

tr.header {
  background-color:gainsboro;
}

tr.ol{
  background-color:bisque;
}

.last3 {
  font-weight: bold;
}

.name {
  text-align:center;
}